<div class="branding top-row d-flex">
        <div class="branding-logo">
            <img src="images/logo.png"/>
        </div>
        <nav>
            <a class="nav-item">List Users</a>
            <a class="nav-item">Add User</a>
        </nav>
</div>