@using JustPoteito.Models;

<tr class=" mb-4">

    <td class="">
        <h2 class="card-title">@user.UserName</h2>
        <h6 class="card-text"><b>Name:</b> @user.Name @user.Surnames</h6>
        <h6 class="card-text"><b>Mail:</b> @user.Email</h6>
        
    </td>
    <td class="text-muted">
        <input type="checkbox" id="admin" @bind="isAdmin">
        <label for="admin">Admin</label>
        <input type="checkbox" id="user" @bind="isUser">
        <label for="user">User</label>
        <br />
        <br />
        <label for="enable">Enabled</label>
        <input type="checkbox" id="enable" name="enable" value="Enable" @bind="user.Enabled">
        <br />
        <br />
        <a href="#" class="btn btn-save" @onclick="makeUpdateRequest">Save</a>
    </td>

    <td class="icon-td">
        <img src="images/edit.png" alt="Edit user" width="25" height="25" @onclick="showEditModal" class="user-options-img">
        <img src="images/delete.png" alt="Delete user" width="25" height="25" @onclick="showDeleteModal" class="user-options-img">
    </td>
</tr>

@code {
    [Parameter] public User user { get; set; }

    [Parameter] public Action<int, User> UpdateUser { get; set; }

    [Parameter] public Action<int> DeleteUser{ get; set; }

    [CascadingParameter] public IModalService Modal { get; set; }

    ModalParameters modalParameters { get; set; }

    [Parameter]
    public bool isAdmin { get; set; } = false;
    [Parameter]
    public bool isUser { get; set; } = false;

    protected override void OnInitialized()
    {

        StateHasChanged();
    }

    private void showEditModal()
    {
        modalParameters = new ModalParameters()
        .Add("user", user)
        .Add("updateUser", UpdateUser);

        Modal.Show<EditUserModal>("Editar " + user.UserName, modalParameters);
    }

    private void showDeleteModal()
    {

        modalParameters = new ModalParameters()
        .Add("userId", user.Id)
        .Add("userName", user.UserName)
        .Add("deleteUser", DeleteUser);

        Modal.Show<DeleteModal>("Borrar a " + user.UserName, modalParameters);
    }

    public void makeUpdateRequest()
    {
        user.Roles.Clear();
        if (isAdmin) { user.Roles.Add(new Role(1, "ADMIN")); }
        if (isUser) { user.Roles.Add(new Role(2, "USER")); }

        UpdateUser(user.Id, user);

    }
}
